.align-elements {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
/*  background-color: #2196F3;
  padding: 10px;*/
}
.grid-item {
  //background-color: rgba(255, 255, 255, 0.8);
  //border: 1px solid rgba(0, 0, 0, 0.8);
  border: 1px solid #DDD;
  //padding: 20px;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.row-wrapper{
  display: contents;
}

.row-wrapper:hover > div{
  background-color: #FEDE00;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.main-container {
  margin: 15px;
}

.margin-10 {
  margin: 10px 0;
}

.btn-nuevo-usuario {
  padding: 10px;
  background-color: #F3D504;
  border: none;
  color: white;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

.btn-nuevo-usuario:hover {
  background-color: #CDB400;
}


.grid-header {
  border: 1px solid #AAA;
  font-size: 16px;
  font-weight: 600;
}

